* {
    font-family: '微软雅黑';
}

.main_box {
    width: 95%;
    margin: 0 auto;
    font-family: '微软雅黑';
}

    .main_box .box_header h2 {
        cursor: pointer;
    }

    .main_box .box_header .span1 {
        float: right;
        font-size: 14px;
        display: block;
        margin-right: 30px;
        width: 36px;
        height: 22px;
        background: #d11212;
        color: #fefeda;
        text-align: center;
        line-height: 22px;
        text-shadow: 2px 2px 3px #000;
        border-bottom-left-radius: 9px;
    }

    .main_box hr {
        margin-top: 15px;
    }

    .main_box .article_content {
        margin-top: 15px;
        height: auto;
        padding-bottom: 30px;
        /*overflow: scroll;*/
    }

    .main_box .box_header ul {
        margin-left: -40px;
    }

        .main_box .box_header ul li {
            float: left;
            margin: 0 20px;
            font-size: 13px;
            color: #969696;
        }

.type_cls {
    width: 35px;
    height: 21px;
    background: green;
    color: #ffffc7;
    text-align: center;
    line-height: 21px;
    display: block;
    text-shadow: 2px 2px 3px #000;
}

.label {
    color: #f5932b;
}

.user_win {
    width: 100%;
    height: 360px;
    background: #fff;
}

    .user_win span {
        display: block;
        width: 100%;
        height: 40px;
        background: #038bcb;
        line-height: 40px;
        color: white;
        text-align: center;
        font-size: 15px;
    }

    .user_win .user_icon {
        width: 130px;
        height: 130px;
        margin: 10px auto;
        background: #ccc;
        border: 1px solid #ccc;
    }

        .user_win .user_icon input {
            width: 130px;
            height: 130px;
            cursor: pointer;
        }

    .user_win a {
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        color: #0903ff;
        font-weight: bolder;
        font-size: 15px;
        font-family: '微软雅黑';
        display: block;
    }

    .user_win .bnt {
        width: 70px;
        height: 25px;
        background: white;
        margin: 8px auto;
        display: block;
        border: 1px solid red;
        border-radius: 5px;
        cursor: pointer;
    }

    .user_win hr {
        width: 95%;
        margin-top: 10px;
    }

    .user_win ul li {
        display: block;
        font-size: 14px;
        color: #4a4b4b;
        font-family: '微软雅黑';
        float: left;
        padding: 7px 20px;
    }


.comment_box {
    width: 100%;
    /*height: 300px;*/
    /*background: #808080;*/
}

    .comment_box .comment_main {
        width:95%;
        /*height: 280px;*/
        /*background: #ffc;*/
        margin: auto;
    }

    .comment_box .comment_main .comment_user {
        margin-top: 10px;
        padding-top: 4px;
        padding-left: 5px;
        border-bottom: 1px solid #969696;
        /*background: #f3f3f3;*/
    }

    .comment_box .comment_main .comm_content {
        width: 100%;
        min-height: 100px;
        margin-top: 10px;
        background: #fff;
    }

    .comment_box .comment_main .comm_content2 {
        width: 95%;
        min-height: 160px;
        background: #ff9;
        margin: 10px auto;
    }

     .comment_box .comment_main .comm_other {
         width: 100%;
         height: 30px;
         /*background: #ccc;*/
         margin-bottom: 10px;
     }

     .comment_box .comment_main .comm_other2 {
         width: 95%;
         height: 30px;
         /*background: #ccc;*/
         margin: 20px auto;
     }

     .comment_box .comment_main .comm_other2 .comm_userLogin {
         float: right;
     }

     .comment_box .comment_main .comm_other2 .but_comm {
         width: 100px;
         height: 30px;
         color:white;
         background: #038bcb;
         border: none;
         border-radius: 5px;
     }

     .comment_box .comment_main .comm_other ul li {
         display: block;
         float: right;
         padding: 0 10px;
         color: #8b8b8b;
         font-size: 14px;
     }

        .comment_box .comment_main .comment_user .span2 {
            display: block;
            width: 120px;
            float: right;
            font-size: 14px;
            margin-top: 3px;
        }


.comm_icon {
    width: 45px;
    height: 45px;
    border-radius: 10px;
}

.comm_name {
    font-size: 17px;
    color: #7a7979;
    font-family: '微软雅黑';
    text-decoration: none;
    font-weight: bold;
    vertical-align: 15px;
    margin-left: 4px;
}

.label1 {
    float: right;
    display: block;
    margin-right: 40px;
    margin-top: 15px;
    font-size: 14px;
    color: #514e48;
}